<html>

<head>
    <p style="text-align:center;">
        <img src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_92x30dp.png" alt="Google" />
    </p>
</head>

<body>
    <p>
        <b>Hello ##USERNAME##,</b>
    </p>
    <p>
        We have generated the password reset link for you. You can reset your password by clicking the below link. This
        link will expire in next 15 minutes.
    </p>
    <p style="text-align:center;">
        <a href="##PASSWORD_RESET_LINK##" class="w3-btn w3-green">Reset Password</a>
    </p>
</body>

</html>
